body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 200px;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(48, 44, 44);
  overflow: hidden;
}

.shapes {
  display: flex;
  flex-direction: column;
  gap: 200px;
  padding-bottom: 100px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Rotates 360 degrees (one full rotation) */
  }
}

.square-container {
  position: relative;
  width: 140px;
  height: 140px;
  /* animation: rotate 4.5s linear infinite; */
  /* border: 2px solid white; */
}

.red {
  display: inline-block;
  width: 2px;
  height: 135px;
  border: 3px solid rgb(228, 73, 73);
}

.blue {
  display: inline-block;
  width: 2px;
  height: 135px;
  border: 3px solid rgb(88, 73, 228);
  rotate: 90deg;
}

.green {
  display: inline-block;
  width: 2px;
  height: 135px;
  border: 3px solid rgb(28, 189, 46);
  rotate: 90deg;
}

.yellow {
  display: inline-block;
  width: 2px;
  height: 135px;
  border: 2px solid rgb(228, 247, 26);
  position: absolute;
  left: 100%;
}

#red1 {
  position: absolute;
  top: 0px;
  left: 0%;
  rotate: 90deg;
}

#blue1 {
  position: absolute;
  top: 0px;
  left: 0%;
  rotate: 90deg;
}

#green1 {
  position: absolute;
  top: 0px;
  left: 0%;
  rotate: 90deg;
}

#yellow1 {
  position: absolute;
  top: 0px;
  left: 0%;
  rotate: 90deg;
}

#red2 {
  position: absolute;
  top: 0px;
  left: 0%;
  rotate: 90deg;
}

#blue2 {
  position: absolute;
  top: 0px;
  left: 0%;
  rotate: 90deg;
}

#green2 {
  position: absolute;
  top: 0px;
  left: 0%;
  rotate: 90deg;
}

#yellow2 {
  position: absolute;
  top: 0px;
  left: 0%;
  rotate: 90deg;
}

@keyframes rotating-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #f3eeed;
  border-radius: 50%;
  z-index: 9999;
}

#colorCircle {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-50%, 50%);
}
